@page "{id:int}"
@model CreditCardWeb.Pages.Statements.IndexModel
@{
    ViewData["Title"] = "Estado de Cuenta de TC";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm col-md-6">
        <p>Nombre del Cliente: @Model.Statement.FirstName @Model.Statement.LastName</p>
        <p>Número de Tarjeta de Crédito: @Model.Statement.CardNumber.Substring(0, 4) **** **** @Model.Statement.CardNumber.Substring(12, 4)</p>
    </div>
    <div class="col-sm col-md-6">
        <p>Saldo Actual: $@Model.Statement.CurrentBalance</p>
        <p>Limite: $@Model.Statement.CreditLimit</p>
        <p>Interés Bonificable: $@Model.Statement.BonificableInterest</p>
        <p>Saldo Disponible: $@Model.Statement.AvailableBalance</p>
    </div>
</div>



@if (Model.Statement.Purchases !=null)
{
    <div class="table-responsive mb-4">
    <table class="table">
            <thead class="table-secondary">
            <tr>
                <th>Número de Autorización</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model.Statement.Purchases)
            {
                <tr>
                    <td>@purchase.PurchaseId</td>
                    <td>@purchase.PurchaseDate.ToShortDateString()</td>
                    <td>@purchase.Description</td>
                    <td>$@purchase.Amount</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <div>
        <p>Compras del mes actual: $@Model.Statement.currentMonthTotal</p>
        <p>Compras del mes pasado: $@Model.Statement.previousMonthTotal</p>
    </div>
}
else
{
    <p>No hay compras en está tarjeta.</p>
}