@page "{id:int}"
@model CreditCardWeb.Pages.Statements.IndexModel
@{
    ViewData["Title"] = "Estado de Cuenta";
}

<h1>@ViewData["Title"]</h1>

<h2>Statement for @Model.Statement.FirstName @Model.Statement.LastName</h2>
<p>Card Number: @Model.Statement.CardNumber</p>
<p>Current Balance: @Model.Statement.CurrentBalance</p>
<p>Credit Limit: @Model.Statement.CreditLimit</p>

@if (Model.Statement.Purchases !=null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model.Statement.Purchases)
            {
                <tr>
                    <td>@purchase.PurchaseDate.ToShortDateString()</td>
                    <td>@purchase.Description</td>
                    <td>@purchase.Amount</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <p>Total Current Month: @Model.TotalCurrentMonth</p>
        <p>Total Previous Month: @Model.TotalPreviousMonth</p>
    </div>
}
else
{
    <p>No purchases found for this credit card.</p>
}